SPRING_PROFILES_ACTIVE=aad
APP_AUTH_MODE=SSO
APP_UI_BASE_URL=http://localhost:5173
AAD_TENANT_ID=__FILL_ME__
AAD_CLIENT_ID=__FILL_ME__
AAD_CLIENT_SECRET=__FILL_ME__
AAD_REDIRECT_URI=http://localhost:5173/login/oauth2/code/azure
ADMIN_EMAILS=feoni.karismawati@sampoernauniversity.ac.id
